<section class="header-section"   data-vide-bg="3" id="home">
    <div class="overlay">
        <div id="particles-js"></div>
         <div class="wave"></div>
        <div class="title">
           
            <p>We are a creative Company agency who makes beautiful ERP systems<br>websites for thousands of peoples.</p>
                  <a routerLink="/login"  class="btn btn-1">
                    <span class="txt">  get started</span>
                    <span class="round"><i class="fa fa-chevron-right"></i></span>
                  </a>
        <i class="fa fa-long-arrow-down arrow-down" ></i>
        </div>
    </div>
    
</section>